*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overscroll-behavior: none;
    width: 100%;
    height: 100vh;
}
  .scroll__stage {
      position: relative;
      width: 100%;
  }

  .scroll__content {
      position: relative;
      width: 100%;
      will-change: transform;
  }
.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 8rem;
    color: white;
    background-color: black;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
    background: blue;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    mix-blend-mode: screen;
}
